/* Sheared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

    padding: 0px;
    margin: 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0px;
}


.description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}



/* This is header styles */


header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
    list-style: none;
    margin-left: 40px;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner style  */

.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner > img{
    margin-top: 20px;
    width: 100%;
}

/* This main section  */
main{
    max-width: 1440px;
    margin: 80px auto;
}


/* this is team section  */

.team-container{
    display: flex;
    align-items: center;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content{
    padding-left: 76px;
}

.team-title{
    font-size: 2.81rem;
}

.team-title .quick-list{
    color: #727272;
    font-weight: 500;
}

.team-title .our-of{
    color:  #131313;
    font-weight: 700;
}

.team-title .text-feature{
    color: #FF900E;
    font-weight: 700;
}







/* Responsive media Quary */

@media screen and (max-width: 576px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    

    .team-container{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: 1fr;
    }

    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Tablet or mobile devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: 1fr;
    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}

